.swiper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin-inline: auto;
  padding-inline: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #036c78;
}

.swiper-pagination-bullet-active {
  background: #036c78;
}

/* Responsive Design */
@media screen and (max-width: 767px) {
  .swiper {
    min-height: 500px;
    padding-inline: 30px;
  }
}
